style_guide_version = 1.0.0

# editorconfig.org
root = true

[*.{js,css,jsx}]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
