.container {
    display: flex;
    flex-flow: row wrap;
}

.container > div {
    flex: 1 100%;
    padding: 0.4rem;
}

@media (min-width: 768px) {
    .container > div {
        flex: 1;
    }

    .container > div:last-child {
        flex: 3 0px;
    }
}
