/* inside achievement should be only two children */
.achievement {
    display: flex;
    flex-flow: row wrap;

    & > div:first-child {
        flex: 1 auto;
        padding-right: 0.4rem;
        max-width: 90px;
    }

    & > div:last-child {
        flex: 10 0;
        min-width: 270px;
    }

    p {
        margin-bottom: 0.45rem;
    }

    ul {
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
        list-style: disc;

        li {
            margin-bottom: calc(1.5rem / 2);
        }
    }
}

.city {
    float: right;
    font-size: 0.6rem;
}

.description {
    min-height: 1rem;
    text-align: justify;
    font-size: 0.8rem;
}

.title {
    font-weight: lighter;
    font-size: 0.8rem;
}
