.city {
    float: right;
    font-size: 0.6rem;
}

.title {
    font-weight: lighter;
    font-size: 0.8rem;
}

.university {
    display: block;
    font-size: 0.6rem;
}

@media (min-width: 768px) {
    .university {
        float: right;
    }
}

/* inside section should be only two childs */
.section {
    display: flex;
    flex-flow: row wrap;
}

.section > div:first-child {
    flex: 1 auto;
    padding-right: 0.4rem;
    max-width: 124px;
}

.section > div:last-child {
    flex: 10 0px;
    min-width: 270px;
}

.section p {
    margin-bottom: 0.45rem;
    text-align: justify;
}
