.contact {
    text-align: center;
}

.contact a {
    color: hsla(0, 0%, 0%, .8);
    text-decoration: none;
}

.contact p {
    margin-bottom: 0.45rem;
}

.contact ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

.contact li {
    flex: 1 auto;
    padding: 0 0.4rem;
}

@media (min-width: 768px) {
    .contact li {
        flex: 1 100%;
        padding-left: 0;
        text-align: left;
    }
}
