.box {
    margin: 0 auto;
    max-width: 960;
    padding: 2.45rem 1.0875rem;
}

.box > h1 {
    margin: 0;
    font-weight: lighter;
}

.container {
    padding: 0 1.5rem;
    display: flex;
    flex-flow: row wrap;
}

.container > div {
    flex: 1 100%;
    padding: 0.4rem;
}

@media (min-width: 992px) {
    .container > div {
        flex: 1;
    }

    .container > div:last-child {
        flex: 3 0px;
    }
}

@media(min-width: 768px) {
    .container {
        padding-right: 3rem;
    }
}

@media (min-width: 992px) {
    .container {
        padding-right: 6rem;
    }
}

@media(min-width: 1200px) {
    .container {
        padding-right: 12rem;
    }
}

.header {
    background: #333;
    margin-bottom: 1.45rem;
    text-align: center;
    color: white;
}

.header a {
    color: white;
    text-decoration: none;
}

.header p {
    margin-bottom: 0;
}
